.staticFooterContainer {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    pointer-events: none;
  }

.footerText {
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    width: calc(100% - 140px);
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
}
.footerText a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

.footerEmail {
    font-size: 12px;
    white-space: nowrap;
    position: absolute;
    bottom: 70px;
    right: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.footerEmail span {
    color: rgba(255, 255, 255, 0.9);
    user-select: all;
}


@media only screen and (max-width: 800px) {
    .staticFooterContainer {
        transform-origin: right center;
        right: 30px;
        bottom: -40px;
        transform: rotate(90deg);
    }
    .iconContainer svg {
        transform: rotate(-90deg);
    }
    .footerEmail {
        transform-origin: right bottom;
        transform: rotate(-90deg);
        margin-top: -30px;
        margin-right: 0px;
        position: relative;
        bottom: unset;
        right: unset;
    }
  }