.footerText {
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    width: calc(100% - 140px);
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
}
.footerText a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}