.headerContent {
    width: 100%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textHeader {
    padding: 20px;
    max-width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.titleBig {
    font-weight: 800;
    margin-bottom: 40px;
    white-space: nowrap;
}

.scrollIndicatorContainer {
    width: 20px;
    margin: 0 auto;
    margin-top: 20px;
    pointer-events: all;
}
.scrollIndicatorContainer img {
    width: 100%;
}

.headerBodyText {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 22px;
}

.headerScrollInfo {
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
    color: white;
    opacity: .5;
}

.textHeader a {
    pointer-events: all;
    cursor: pointer;
    font-style: italic;
    color: #A563FA;
}