@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500;600&display=swap');

@font-face {
  font-family: 'ClarityCity';
  font-weight: 400;
  src: local('ClarityCity'), url(./fonts/ClarityCity-Regular.woff) format('woff');
}

@font-face {
  font-family: 'ClarityCity';
  font-weight: 500;
  src: local('ClarityCity'), url(./fonts/ClarityCity-SemiBold.woff) format('woff');
}


body {
  margin: 0px;
  padding: 0px;
  color: white;
  background-color: black;
  font-family: "ClarityCity";
  height: 5500px;
}

.App {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  touch-action: none;
}

.headerContainer {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100vw;
  justify-content: center;
  pointer-events: none;
  transform-origin: top center;
  transform: scale(1);
  transition: transform 0.4s;
}

.scaledDown {
  transform: scale(0);
}

.footerContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100vw;
  justify-content: center;
}

.staticFooterContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.pointing {
  cursor: pointer;
}

.progressContainer {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 30px;
  margin: 5px;
}

.progress {
  height: 100%;
  background-color: white;
}

.iconContainer {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1.5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: black;
  transition: filter 0.15s;
}
.iconContainer:hover {
  filter: invert();
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  /* display: none; */
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none; */
}