@font-face {
  font-family: 'ClarityCity';
  font-weight: 400;
  src: local('ClarityCity'), url(./fonts/ClarityCity-Regular.woff) format('woff');
}

@font-face {
  font-family: 'ClarityCity';
  font-weight: 500;
  src: local('ClarityCity'), url(./fonts/ClarityCity-SemiBold.woff) format('woff');
}

body {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: "ClarityCity";
  touch-action: none;
}

.App {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  position: fixed;
  left: 0;
  width: 100vw;
}

.footerContainer {
  position: fixed;
  right: 0;
  bottom: 0;
}

a {
  color: white;
  text-decoration: none;
}

.pointing {
  cursor: pointer;
}